*{
    margin: 0;
}
body{
    padding: 10px;
}
table,th, td{
    padding:2px;
    border:1px black solid;
}
#h1{

}

#links{
}

#contact{
    padding: 5px;
}

.button{
    display: inline-block;
    width: 100px;
}